html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

* {
  margin: 0;
}

body {
  background-color: #EFEDEC;
}

body,
button,
a {
  font-family: "Tenor Sans", sans-serif;
}

a,
a:hover {
  color: #634B45;
  text-decoration: none;
}

a:hover {
  color: #BF6F71;
}

ul, li {
  list-style: none;
}

h1,
h2,
h3 {
  font-weight: lighter;
  font-family: "Marcellus", serif;
}

.title {
  font-size: 48px;
}

.subtitle {
  font-size: 32px;
  color: #BF6F71;
  padding-bottom: 20px;
}
.subtitle--light {
  color: #EFEDEC;
}

.text {
  font-size: 20px;
  padding: 0 0 30px 0;
}
.text--dark {
  color: #6B7689;
}
.text--light {
  color: #EFEDEC;
}

.text--first-paragraph,
.link {
  padding: 30px 0;
}

.navbar {
  padding: 0 120px;
}

section {
  padding: 80px 120px;
}

.button {
  display: block;
  border-radius: 10px;
  text-align: center;
}
.button:hover {
  color: #EFEDEC;
}
.button--large {
  width: 220px;
  padding: 15px 20px;
  background-color: #9D645F;
  color: #EFEDEC;
  font-size: 20px;
}
.button--small {
  width: 180px;
  padding: 10px 20px;
  background-color: #7F8DA3;
  color: #EFEDEC;
  font-size: 20px;
}

.navbar-home {
  position: absolute;
}

.navbar-border {
  border-bottom: solid 1px #634B45;
}

.navbar {
  height: 48px;
  width: 100%;
  color: #634B45;
  display: flex;
  align-items: center;
}
.navbar__logo {
  flex-basis: 50%;
}
.navbar__menu {
  flex-basis: 50%;
  display: flex;
  justify-content: space-between;
}
.navbar a {
  color: #634B45;
}
.navbar a:hover {
  color: #BF6F71;
}

.cta {
  background-size: cover;
}
.cta--center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cta .subtitle,
.cta .button-container {
  padding: 40px 0;
}

.about .cta {
  background-image: url(/images/background__powder.png);
}

.story .cta {
  background-image: url(/images/background__skin.png);
}

.home-hero {
  padding-top: 48px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(/images/home__hero.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: top center;
}
.home-hero__title, .home-hero__slogan,
.home-hero .button-container {
  padding: 30px 0;
  width: 40%;
}
.home-hero__title {
  font-family: "Tenor Sans", sans-serif;
  color: #BF6F71;
}
.home-hero__slogan {
  font-family: "Marcellus", serif;
  font-size: 24px;
  color: #727883;
}

.home-about {
  display: flex;
  padding-top: 80px;
  padding-bottom: 80px;
}
.home-about__image-container, .home-about__text-container {
  flex-basis: 50%;
}
.home-about__image {
  width: 80%;
  border-radius: 10px;
}

.home-story {
  padding-left: 250px;
  padding-right: 250px;
  background-image: url(/images/background__powder.png);
  background-size: cover;
  text-align: center;
}
.home-story .home__link:hover {
  color: #EFEDEC;
}

.home-services {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-services__card {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 30px;
  box-shadow: 4px 4px 10px rgba(127, 141, 163, 0.3137254902);
}
.home-services__card-container {
  display: flex;
  flex-direction: row;
  margin: 50px;
}
.home-services__card-title {
  padding: 50px;
  text-align: center;
  color: #6B7689;
  font-size: 20px;
  background-color: white;
}

.about-content,
.story-content {
  display: flex;
}
.about-content__image-container, .about-content__text-container,
.story-content__image-container,
.story-content__text-container {
  flex-basis: 50%;
}
.about-content__image,
.story-content__image {
  width: 80%;
  border-radius: 10px;
}/*# sourceMappingURL=style.css.map */