html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

* {
  margin: 0;
}

body {
  background-color: #F2EAE8;
}

body,
button,
a {
  font-family: "Tenor Sans", sans-serif;
}

a,
a:hover {
  color: #634B45;
  text-decoration: none;
}

a:hover {
  color: #CA6374;
}

ul, li {
  list-style: none;
}

h1,
h2,
h3 {
  font-weight: lighter;
  font-family: "Marcellus", serif;
}

.title {
  color: #CA6374;
}
.title--center {
  text-align: center;
}
@media screen and (min-width: 360px) {
  .title {
    font-size: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 48px;
  }
}

.subtitle {
  color: #CA6374;
  padding-bottom: 20px;
}
.subtitle--light {
  color: #F2EAE8;
}
.subtitle--center {
  text-align: center;
}
@media screen and (min-width: 360px) {
  .subtitle {
    font-size: 28px;
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .subtitle {
    font-size: 34px;
  }
}

.text {
  padding: 0 0 30px 0;
}
.text--dark {
  color: #6B7689;
}
.text--light {
  color: #F2EAE8;
}
@media screen and (min-width: 360px) {
  .text {
    font-size: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .text {
    font-size: 20px;
  }
}

.text--first-paragraph,
.link {
  padding: 30px 0;
}

.navbar {
  padding: 0 120px;
}
@media screen and (min-width: 360px) {
  .navbar {
    padding: 0 25px;
  }
}

section {
  padding: 80px 120px;
}
@media screen and (min-width: 360px) {
  section {
    padding: 50px 25px;
  }
}

.button {
  display: block;
  border-radius: 10px;
  text-align: center;
  color: #F2EAE8;
}
.button:hover {
  color: #F2EAE8;
}
.button--large {
  width: 250px;
  padding: 18px 20px;
  font-size: 22px;
}
.button--small {
  width: 200px;
  padding: 13px 18px;
  font-size: 20px;
}
.button--card {
  padding: 10px 15px;
  color: white;
  font-size: 18px;
  background-color: #D69596;
}
@media screen and (min-width: 360px) {
  .button--card {
    width: 100%;
  }
}
@media screen and (min-width: 720px) {
  .button--card {
    width: 150px;
  }
}
.button--light {
  background-color: #D69596;
}
.button--dark {
  background-color: #9D645F;
}

.navbar-home {
  position: absolute;
}
.navbar-home .navbar__menu {
  flex-basis: 60%;
}

.navbar-border {
  border-bottom: solid 1px #634B45;
}

.navbar {
  height: 48px;
  width: 100%;
  color: #634B45;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__logo {
  flex-basis: 50%;
}
.navbar__menu {
  flex-basis: 50%;
  display: flex;
  justify-content: space-between;
}
.navbar__link {
  color: #634B45;
}
.navbar__link:hover {
  color: #CA6374;
}
.navbar__link--light {
  color: #D69596;
}

.cta {
  background-size: cover;
}
.cta--center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cta .subtitle,
.cta .button-container {
  padding: 40px 0;
}

.about .cta {
  background-image: url(/images/background__powder.png);
}

.story .cta {
  background-image: url(/images/background__skin.png);
}

.acne .cta {
  background-image: url(/images/background__acne.jpg);
}

.home-hero {
  padding: 120px 100px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(/images/home__hero\(couple\).png);
  background-size: cover;
  background-attachment: fixed;
  background-position: top center;
}
.home-hero__title, .home-hero__slogan,
.home-hero .button-container {
  padding: 30px;
  width: 35%;
}
.home-hero__title {
  font-family: "Tenor Sans", sans-serif;
  color: #CA6374;
}
.home-hero__slogan {
  font-family: "Marcellus", serif;
  font-size: 24px;
}

.home-about {
  display: flex;
  padding-top: 80px;
  padding-bottom: 80px;
}
.home-about__image-container, .home-about__text-container {
  flex-basis: 50%;
}
.home-about__image {
  width: 80%;
  border-radius: 10px;
}

.home-articles {
  padding: 0;
  text-align: center;
  display: flex;
}
.home-articles .link:hover {
  color: #F2EAE8;
}
.home-articles__story, .home-articles__acne {
  flex-basis: 50%;
  padding: 100px 50px;
}
.home-articles__story {
  background-image: url(/images/home-story1.png);
  background-size: cover;
}
.home-articles__acne {
  background-image: url(/images/home-story2.png);
  background-size: cover;
}

.home-services {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-services .subtitle {
  color: #557D8E;
}
.home-services__card {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 30px;
  background-color: white;
  box-shadow: 4px 4px 10px #DBD9DA;
}
.home-services__card-container {
  display: flex;
  flex-direction: row;
  margin: 50px;
}
.home-services__card-title {
  padding: 50px;
  text-align: center;
  color: #6B7689;
  font-size: 20px;
}
.home-services .button {
  background-color: #90ABC3;
}

.about-content,
.story-content {
  display: flex;
}
.about-content__image-container, .about-content__text-container,
.story-content__image-container,
.story-content__text-container {
  flex-basis: 50%;
}
.about-content__image,
.story-content__image {
  width: 80%;
  border-radius: 10px;
}
.services__card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 360px) {
  .services__card-container {
    padding-top: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .services__card-container {
    padding-top: 50px;
  }
}
.services__card-container .card {
  display: flex;
  align-items: center;
  margin: 40px 0;
  background-color: white;
  box-shadow: 4px 4px 10px #DBD9DA;
  border-radius: 9px;
}
.services__card-container .card__info-title {
  color: #CA6374;
}
.services__card-container .card__info-price {
  color: #90ABC3;
  padding-bottom: 15px;
}
.services__card-container .card__info-description {
  color: #6B7689;
  padding-bottom: 30px;
}
@media screen and (min-width: 360px) {
  .services__card-container .card {
    flex-direction: column;
    width: 80vw;
  }
  .services__card-container .card .card__image {
    width: 100%;
    border-radius: 9px 9px 0 0;
  }
  .services__card-container .card .card__info {
    padding: 20px;
  }
  .services__card-container .card .card__info-price {
    font-size: 17px;
    padding-top: 10px;
  }
  .services__card-container .card .card__info-title {
    font-size: 20px;
  }
}
@media screen and (min-width: 720px) {
  .services__card-container .card {
    flex-direction: row;
    width: 660px;
  }
  .services__card-container .card .card__image {
    border-radius: 9px 0 0 9px;
    flex-basis: 33%;
    width: 250px;
  }
  .services__card-container .card .card__info {
    padding: 20px 30px;
    flex-basis: 69%;
  }
  .services__card-container .card .card__info-title {
    padding-bottom: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .services__card-container .card {
    width: 1000px;
  }
  .services__card-container .card .card__image {
    flex-basis: 35%;
    max-width: 35%;
  }
  .services__card-container .card .card__info {
    padding: 25px 60px;
    flex-basis: 65%;
    font-size: 18px;
  }
  .services__card-container .card .card__info-title {
    font-size: 24px;
    padding-bottom: 25px;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 70px 0;
}
.contact-form label {
  display: block;
  margin: 30px 0 10px 0;
  font-size: 18px;
  color: #634B45;
}
.contact-form input,
.contact-form select {
  border: 0;
  width: 500px;
  height: 35px;
  border-radius: 5px;
  font-family: "Tenor Sans", sans-serif;
  color: #6B7689;
  padding: 10px;
  font-size: 16px;
}
.contact-form input:focus,
.contact-form select:focus {
  outline: 1px solid #90ABC3;
}
.contact-form input:active,
.contact-form select:active {
  background-color: white;
}
.contact-form option:hover {
  background-color: #90ABC3;
}
.contact-form option,
.contact-form textarea {
  font-family: "Tenor Sans", sans-serif;
}
.contact-form textarea {
  color: #90ABC3;
  border: 0;
  width: 500px;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
}
.contact-form textarea:focus {
  outline: 1px solid #90ABC3;
}
.contact-form .button {
  border: 0;
  width: 150px;
}
.contact-form .button-container {
  padding: 50px 0;
}/*# sourceMappingURL=style.css.map */