@use '../abstracts/variables';
@use '../abstracts/mixins';

.skin,
.story {

    display: grid;

    &-content {
        
        max-width: 1200px;
        display: grid;
        justify-self: center;

        &__title {
            grid-area: title;
        }

        &__image-container {
            grid-area: image;
            display: flex;
            @include mixins.center;
        }

        &__text-container {
            grid-area: text;
        }

        &__text-bubble {
            background-color: #f7f3f1;
            border-radius: 10px;
            padding: 2rem;
            margin: 2rem 0;
        }

        &__image {
            border-radius: 10px;
            justify-self: center;
        }

        &__chart {
            border-radius: 10px;
            width: 100%;
            margin-bottom: 1rem;
        }


        // MOBILE
        grid-template-columns: 50% 50%;
        grid-template-areas: 
        "title title"
        "image image"
        "text text";

        padding: 0;

        .about-content__image--tablet,
        .skin-content__image--tablet {
            display: none;
        }

        &__image {
            width: 100%;
            border-radius: 0;
        }

        &__title {
            text-align: center;
            padding-bottom: 40px;
        }

        &__text-container {
            padding-left: 35px;
            padding-right: 35px;
        }

        @include mixins.small {

            &__image {
                max-width: 85%;
                border-radius: 15px;
            }

            &__title {
                padding-bottom: 60px;
            }
        }

        // TABLET
        @include mixins.medium {
            padding-left: 50px;
            padding-right: 50px;

            // grid-template-areas: 
            // "title title"
            // "image text";

            display: block;

            .about-content__image--tablet,
            .skin-content__image--tablet {
                display: block;
                max-width: 45%;
                max-height: 430px;
                border-radius: 15px;
                float: left;
                margin: 0 2rem 1rem 0;
            }
            

            &__image {
                display: none;
                // max-width: 80%;
                // border-radius: 10px;
                // float: left;
            }

            &__chart {
                width: 50%;
                margin-right: 15px;
                margin-bottom: 0;
                float: left;
            }

            &__title {
                padding-bottom: 85px;
            }

            .text--first-paragraph {
                padding-top: 0;
            }

        }


    }
}