@use '../abstracts/variables';
@use '../abstracts/mixins';

.about,
.story {

    &-content {
        display: flex;

        //Use grid instead of flexbox to rearrange the content for responsive design

        &__image-container,
        &__text-container {
            flex-basis: 50%;
        }

        &__image {
            width: 80%;
            border-radius: 10px;
        }


        // MOBILE
        @include mixins.mobile {

        }

        // TABLET
        @include mixins.tablet {

        }

        // LAPTOP
        @include mixins.laptop {

        }

        // DESKTOP
        // @include mixins.desktop {

        // }

        // LARGE DESKTOP
        @include mixins.large-desktop {

        }


    }
}