@use '../abstracts/variables';
@use '../abstracts/mixins';

.acne {

    display: grid;

    &-content {
        
        max-width: 1200px;
        // display: grid;
        justify-self: center;
        padding-bottom: 0;

        &__title {
            grid-area: title;
        }

        &__subtitle {
            grid-area: subtitle;
        }

        &__image-container {
            grid-area: image;
            display: flex;
            @include mixins.center;
        }

        &__text-container {
            grid-area: text;
        }

        &__image {
            border-radius: 10px;
            justify-self: center;
            width: 100%;
        }

        &__chart-container {
            width: 100%;
        }

        &__chart {
            width: 100%;
        }


        // MOBILE

        // grid-template-columns: 50% 50%;
        // grid-template-areas: 
        // "title title"
        // "image image"
        // "text text";

        // &__image-container {
        //     width: 100vw;
        // }

        &__title {
            text-align: center;
            padding-bottom: 40px;
        }

        @include mixins.small {

            &__image {
                max-width: 85%;
            }

            // &__chart {
            // width: 100%;
            // margin-bottom: 2rem;
            // }

            &__title {
                padding-bottom: 60px;
            }
        }

        // TABLET
        @include mixins.medium {
            padding-left: 50px;
            padding-right: 50px;

            grid-template-areas: 
            "title title"
            "image text";

            &__image {
                max-width: 80%;
            }

            &__chart-container {
                @include mixins.center;
            }

            &__chart {
            max-width: 80%;
            border-radius: 10px;
            }

            &__title {
                padding-bottom: 85px;
            }

            // .text--first-paragraph {
            //     padding-top: 0;
            // }

        }

        // LAPTOP 
        @include mixins.large {

            &__chart {
                max-width: 900px;
            }
        }


    }
}