@use '../abstracts/variables';
@use '../abstracts/mixins';

.contact {

    display: flex;
    flex-direction: column;
    align-items: center;
    

    &-form {

        display: flex;
        flex-direction: column;
        // align-items: start;


        padding: 30px 0;
        align-items: center;


        //TABLET
        @include mixins.medium {
            padding: 50px 0;
            align-items: start;
        }

        //LAPTOP
        @include mixins.x-large {
            padding: 70px 0;
        }


        label {
            display: block;
            margin: 30px 0 10px 0;
            font-size: 18px;
            color: variables.$color__navbar;
        }

        input,
        select,
        textarea {
            
            //MOBILE
                width: 70vw;

            //TABLET
            @include mixins.medium {
                width: 60vw;
            }

            //LAPTOP, DESKTOP
            @include mixins.x-large {
                width: 50vw;
            }

        }

        input,
        select {
            border: 0;
            height: 40px;
            border-radius: 5px;
            font-family: variables.$font__text;
            color: variables.$color--secondary-dark;
            padding: 10px;
            font-size: 16px;

            &:focus {
                outline: 1px solid variables.$color--secondary;
            }

            &:active {
                background-color: white;
            }
        }

        option:hover {
            background-color: variables.$color--secondary;
        }

        option,
        textarea {
            font-family: variables.$font__text;
        }

        textarea {
            color: variables.$color--secondary-dark;
            border: 0;
            border-radius: 5px;
            padding: 10px;
            font-size: 16px;

            &:focus {
                outline: 1px solid variables.$color--secondary;
            }

        }
    


        .button {

            &-container {
                padding: 50px 0;
            }

            border: 0;
            width: 150px;


        }

    }
}