@use '../abstracts/variables';
@use '../abstracts/mixins';


// HERO BANNER

.home-hero {

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-repeat: no-repeat;
	background-attachment: fixed;


    &__title {
        font-family: variables.$font__text;
        color: variables.$color--primary;
        line-height: 1.3;
    }

    &__slogan {
        font-family: variables.$font__title;
    }


    // EXTRA SMALL MOBILE (Galaxy fold)
    height: 450px;
    padding: 70px 25px;

    background-image: url(/images/home__hero--mobile\ \(couple\).jpg);
    background-size: 100vw;

    &__title,
    &__slogan {
        padding-bottom: 35px;
        width: 50%;
    }

    &__slogan {
        font-size: 18px;

        .hide {
            display: none;
        }
    }


    // MOBILE
    @include mixins.x-small {
        height: 600px;
        padding: 60px 40px;
        // background-width: 100%;

        &__title,
        &__slogan,
        .button-container {
            padding: 35px 0;
            width: 60%;
        }
    
        &__slogan {
            font-size: 22px;

            .hide {
                display: inline;
            }
        }
    }


    @include mixins.small {
        height: 700px;
        padding: 70px 70px;

        &__title,
        &__slogan,
        .button-container {
            padding-top: 70px;
        }

        &__slogan {
            font-size: 25px;
        }
    }


    //TABLET
    @include mixins.medium {
        height: 500px;
        padding: 70px 50px;

        background-image: url(/images/home__hero\(couple\).png);
        background-position: top left;
        background-size: 100%;

        &__title,
        &__slogan,
        .button-container {
            padding-top: 30px;
            width: 35%;
        }

        &__title {
            font-size: 36px;
        }

        .button-container {
            padding-bottom: 0;
        }

    }

    // LAPTOP 
    @include mixins.large {
        height: 600px;

        &__title,
        &__slogan,
        .button-container {
            width: 33%;
        }

        &__title {
            font-size: 44px;
        }

        &__slogan {
            font-size: 28px;
        }
    }


    // DESKTOP
    @include mixins.x-large {
        height: 800px;
        padding: 120px 80px;

        &__title,
        &__slogan,
        .button-container {
            width: 35%;
        }

        &__title {
            font-size: 52px;
        }

        &__slogan {
            font-size: 34px;
        }
    }

    // @include mixins.xx-large {
    //     height: 1000px;
    //     padding: 170px 80px;

    //     &__title {
    //         font-size: 70px;
    //     }

    //     &__slogan {
    //         font-size: 46px;
    //     }

    // }


}


// ABOUT
.home-about {

    display: flex;
    justify-content: center;
    
    padding-top: 80px;
    padding-bottom: 80px;
    // background-color: variables.$color--light;

    &__image-container,
    &__text-container {
        flex-basis: 50%;
    }

    &__image {
        width: 80%;
        border-radius: 10px;
    }

    .hide {
        display: none;
    }

    // DESKTOP

    @include mixins.xx-large {

        .hide {
            display: block;
        }

    }


}



// SKIN STORY
.home-articles {
    padding: 0;
    // background-image: url(/images/background__powder.png);
    // background-size: cover;

    text-align: center;

    .link:hover {
        color: variables.$color--light;
    }

    display: flex;

    &__story,
    &__acne {
        flex-basis: 50%;
        padding: 100px 50px;
        // padding-right: 50px;
    }

    &__story {
        background-image: url(/images/home-story1.png);
        background-size: cover;
    }

    &__acne {
        background-image: url(/images/home-story2.png);
        background-size: cover;
    }

}


// SERVICES
.home-services {

    // background-color: variables.$color--light;

    display: flex;
    flex-direction: column;
    align-items: center;

    .subtitle {
        color: variables.$color--secondary-title;
    }


    &__card {

        &-container {
            display: flex;
            flex-direction: row;
            margin: 50px;
        }

        display: flex;
        flex-direction: column;

        width: 300px;
        margin: 30px;
        background-color: white;
        box-shadow: 4px 4px 10px variables.$color--shadow;

        &-title {
            padding: 50px;
            text-align: center;
            color: variables.$color--secondary-dark;
            font-size: 20px;

        }
    }

    .button {
        background-color: variables.$color--secondary;
    }

}