@use 'abstracts/variables';
@use 'abstracts/mixins';

.home {
    
    &__subtitle {

        color: variables.$color--primary;
        padding-bottom: 20px;

        &--light {
            color: variables.$color--light;
        }

    }

    &__text,
    &__link {
        padding: 40px 0;
    }


}


// HERO BANNER

.home-hero {

    padding-top: 48px;
    // height: 700px;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-image: url(/images/home__hero.png);
	background-size: cover;
	background-attachment: fixed;
    background-position: top center;

    &__title,
    &__slogan,
    .button-container {
        padding: 30px 0;
        width: 40%;
    }

    &__title {
        font-family: variables.$font__text;
        color: variables.$color--primary;
    }

    &__slogan {
        font-family: variables.$font__title;
        font-size: 24px;
        color: variables.$color__slogan;
    }

}


// ABOUT
.home-about {

    display: flex;
    
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: variables.$color--light;

    &__image-container,
    &__text-container {
        flex-basis: 50%;
    }

    &__image {
        width: 80%;
        border-radius: 10px;
    }

}



// SKIN STORY
.home-story {

    padding-left: 250px;
    padding-right: 250px;

    background-image: url(/images/home__story.png);
    background-size: cover;

    text-align: center;

    .home__link:hover {
        color: variables.$color--light;
    }

}


// SERVICES
.home-services {

    background-color: variables.$color--light;

    display: flex;
    flex-direction: column;
    align-items: center;


    &__card {

        &-container {
            display: flex;
            flex-direction: row;
            margin: 50px;
        }

        display: flex;
        flex-direction: column;

        width: 300px;
        margin: 30px;
        box-shadow: 4px 4px 10px variables.$color--secondary-shadow;

        &-title {
            padding: 50px;
            text-align: center;
            color: variables.$color--secondary-dark;
            font-size: 20px;
            background-color: white;
        }
    }

}