@use '../abstracts/variables';
@use '../abstracts/mixins';


// HERO BANNER

.home-hero {

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-repeat: no-repeat;
	background-attachment: fixed;


    &__title {
        font-family: variables.$font__text;
        color: variables.$color--primary;
        line-height: 1.3;
    }

    &__slogan {
        font-family: variables.$font__title;
    }


    // EXTRA SMALL MOBILE (Galaxy fold)
    height: 450px;
    padding: 70px 25px;

    background-image: url(/images/home__hero--mobile\ \(couple\).jpg);
    background-size: 100vw;

    &__title,
    &__slogan {
        padding-bottom: 35px;
        width: 50%;
    }

    &__slogan {
        font-size: 18px;

        .hide {
            display: none;
        }
    }


    // MOBILE
    @include mixins.x-small {
        height: 600px;
        padding: 60px 40px;
        // background-width: 100%;

        &__title,
        &__slogan,
        .button-container {
            padding: 35px 0;
            width: 60%;
        }
    
        &__slogan {
            font-size: 22px;

            .hide {
                display: inline;
            }
        }

    }


    @include mixins.small {
        height: 700px;
        padding: 70px 70px;

        &__title,
        &__slogan,
        .button-container {
            padding-top: 70px;
        }

        &__slogan {
            font-size: 25px;
        }
    }


    //TABLET
    @include mixins.medium {
        height: 500px;
        padding: 70px 50px;

        background-image: url(/images/home__hero\(couple\).png);
        background-position: top left;
        background-size: 100%;

        &__title,
        &__slogan {
            padding-top: 30px;
            width: 35%;
        }

        &__title {
            font-size: 36px;
        }

        .button-container {
            width: 35%;
            padding-top: 5px;
            padding-bottom: 0;
        }

    }

    // LAPTOP 
    @include mixins.large {
        height: 600px;

        &__title,
        &__slogan,
        .button-container {
            width: 33%;
        }

        &__title {
            font-size: 44px;
        }

        &__slogan {
            font-size: 28px;
        }

        .button-container {
            padding-top: 30px;
        }
    }


    // DESKTOP
    @include mixins.x-large {
        height: 800px;
        padding: 120px 80px;

        &__title,
        &__slogan,
        .button-container {
            width: 35%;
        }

        &__title {
            font-size: 52px;
        }

        &__slogan {
            font-size: 34px;
        }
    }

}


// ABOUT
.home-about {

    display: grid;
    justify-items: center;
    
    padding-top: 80px;
    padding-bottom: 80px;

    &__subtitle {
        grid-area: subtitle;
        align-self: center;
    }

    &__image-container {
        grid-area: image;
        display: flex;
        @include mixins.center;
        padding: 30px 0;
    }

    &__text-container {
        grid-area: text;
    }

    &__link-container {
        grid-area: link;
    }

    &__image {
        width: 85%;
        border-radius: 50%;
        max-width: 350px;
    }

    // MOBILE
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "subtitle subtitle"
    "image image"
    "text text";

    padding-top: 50px;
    padding-bottom: 50px;

    .hide {
        display: none;
    }

    &__image--tablet,
    &__subtitle--tablet {
        display: none;
    }

    .link {
        // display: inline;
        padding: 0;
    }

    &__link-container {
        @include mixins.center;
    }

    .text--first-paragraph {
        padding-top: 10px;
    }


    // TABLET
    @include mixins.medium {

        // grid-template-areas: 
        // "image subtitle"
        // "image text";

        // gap: 15px;

        display: block;

        &__subtitle,
        &__text-container {
            justify-self: start;
        }

        &__image-container,
        &__subtitle {
            display: none;
        }

        &__subtitle--tablet {
            display: block;
        }

        &__image--tablet {
            display: block;
            max-width: 45%;
            max-height: 525px;
            border-radius: 15px;
            float: left;
            margin: 0 2rem 1rem 0;
        }

        &__link-container {
            display: block;
        }

        .text--first-paragraph {
            padding-top: 30px;
        }

    }

    // DESKTOP

    @include mixins.x-large {
        grid-template-columns: 35% 65%;

        &__image-container {
            justify-self: end;
        }

    }

    @include mixins.xx-large {

        padding-top: 80px;
        padding-bottom: 80px;

        gap: 30px;

        .hide {
            display: block;
        }

        &__image {
            width: 80%;
            border-radius: 10px;
            max-width: 700px;
        }

        &__text-container {
            max-width: 1500px;
        }

    }

}



// SKIN STORY
.home-articles {
    padding: 0;
    text-align: center;
    display: flex;

    .text {
        max-width: 1500px;
    }

    &__story,
    &__acne {
        flex-basis: 50%;
        padding: 100px 50px;
        @include mixins.center;
    }

    &__story {
        background-image: url(/images/home-story1.png);
        background-size: cover;
    }

    &__acne {
        background-image: url(/images/home-story2.png);
        background-size: cover;
    }

    .link:hover {
        color: variables.$color--light;
    }

    // MOBILE
    flex-direction: column;

    // TABLET AND LARGER
    @include mixins.medium {
        flex-direction: row;
    }

}


// SERVICES
.home-services {

    display: flex;
    flex-direction: column;
    align-items: center;

    .subtitle {
        color: variables.$color--secondary-title;
        padding-top: 20px;
    }


    &__card {

        &-container {
            display: flex;
            margin: 50px;
        }

        display: flex;
        flex-direction: column;

        width: 300px;
        margin: 30px;
        background-color: white;
        box-shadow: 4px 4px 10px variables.$color--shadow;
        border-radius: 10px;

        &:hover {
            transform: scale(1.015);
            box-shadow: 5px 5px 20px 3px variables.$color--shadow;
        }

        &:active {
            transform: none;
        }

        &-title {
            padding: 50px;
            text-align: center;
            color: variables.$color--secondary-dark;
            font-size: 20px;
        }

        &-image {
            border-radius: 10px 10px 0 0;
        }



        // MOBILE
        &-container {
            flex-direction: column;
        }

        // TABLET
        @include mixins.medium {
            &-container {
                flex-direction: row;
            }

            width: 220px;
            margin: 20px;
        }

        // LAPTOP
        @include mixins.large {
            width: 300px;
            margin: 30px;
        }

        // LARGE DESKTOP
        @include mixins.xx-large {
            width: 400px;
            margin: 40px;
        }


    }

    .button {
        background-color: variables.$color--secondary;
    }
}