@use '../abstracts/variables';
@use '../abstracts/mixins';

.services {


    &__card-container {

        display: flex;
        flex-direction: column;
        align-items: center;

        // MOBILE
        @include mixins.mobile {
            padding-top: 10px;
        }
        
        //LAPTOP 
        @include mixins.laptop {
            padding-top: 50px;
        }

        .card {

            display: flex;
            align-items: center;

            margin: 40px 0;
            background-color: white;
            box-shadow: 4px 4px 10px variables.$color--shadow;
            border-radius: 9px;
            
            &__info {

                &-title {
                    color: variables.$color--primary;
                }

                &-price {
                    color: variables.$color--secondary;
                    padding-bottom: 15px;
                }

                &-description {
                    color: variables.$color--secondary-dark;
                    padding-bottom: 30px;
                }


            }

            // MOBILE
            @include mixins.mobile {
                flex-direction: column;
                width: 80vw;

                .card__image {
                    width: 100%;
                    border-radius: 9px 9px 0 0;
                }

                .card__info {
                    padding: 20px;

                    &-price {
                        font-size: 17px;
                        padding-top: 10px;
                    }

                    &-title {
                        font-size: 20px;
                    }
                }

            }

            // TABLET
            @include mixins.tablet {
                flex-direction: row;
                width: 660px;
                
                .card__image {
                    border-radius: 9px 0 0 9px;
                    flex-basis: 33%;
                    width: 250px;
                    //fix the width to balance with the text
                }

                .card__info {
                    padding: 20px 30px;
                    flex-basis: 69%;

                    &-title {
                        padding-bottom: 15px;
                    }
                }

            }

            // LAPTOP
            @include mixins.laptop {

                width: 1000px;

                .card__image {
                    flex-basis: 35%;
                    max-width: 35%;
                }

                .card__info {
                    padding: 25px 60px;
                    flex-basis: 65%;
                    font-size: 18px;

                    &-title {
                        font-size: 24px;
                        padding-bottom: 25px;
                    }
                }

            }

        }


    }

}