<div class="navbar navbar-border" id="myNavbar">

    <div class="navbar__wrapper">

        <!-- <div class="navbar__logo"> -->
            <a href="/cs/home/" class="navbar__logo navbar__link navbar__link--light ">Cherish your skin</a>
        <!-- </div> -->

        <div class="link-box">
            <a href="/cs/mystory/" class="navbar__link padding-top">Můj příběh</a>

            <a href="/cs/aboutskin/" class="navbar__link">O pleti</a>

            <a href="/cs/acne/" class="navbar__link">Akné</a>

            <a href="/cs/services/" class="navbar__link">Služby</a>

            <a href="/cs/contact/" class="navbar__link">Kontakt</a>

            <a href="/" class="navbar__link">
                <img src="/images/en.png" alt="EN" class="navbar__language-icon">
            </a>
        </div>

    </div>

    <div class="icon-box">
        <a href="javascript:void(0);" class="icon" onclick="navbarHamburger()">
            <i class="fa-solid fa-bars" id="iconHamburger"></i>
        </a>
    </div>

</div>