<div class="navbar">

    {# <div class="navbar__logo">
        <a href="/" class="navbar__link">LOGO</a>
    </div> #}

    <div class="navbar__menu">

        <div class="navbar__link-box">
            <a href="/en/about/" class="navbar__link">About me</a>
        </div>

        <div class="navbar__link-box">
            <a href="/en/skinstory/" class="navbar__link">Skin story</a>
        </div>

        <div class="navbar__link-box">
            <a href="/en/acne/" class="navbar__link">Acne</a>
        </div>

        <div class="navbar__link-box">
            <a href="/en/services/" class="navbar__link">Services</a>
        </div>

        <div class="navbar__link-box">
            <a href="/en/contact/" class="navbar__link">Contact</a>
        </div>

    </div>

</div>