@use '../abstracts/variables';
@use '../abstracts/mixins';

.cta {

    // padding: 40px 0;
    background-size: cover;

    &--center {
        @include mixins.center;
    }

    .subtitle,
    .button-container {
        padding:40px 0;
    }

}

.story {

    .cta {
        background-image: url(/images/background__powder.png);
        
        .subtitle {
            text-align: center;
        }
    }

}

.skin {

    .cta {
        background-image: url(/images/background__skin.png);
    }
    
}

.acne {

    .cta {
        background-image: url(/images/background__acne.png);
        background-position: top left;

        .subtitle {
            text-align: center;
        }

        .button-container {
            @include mixins.center;
        }

        .button {
            color: white;
        }

        @include mixins.small {

            .subtitle {
                width: 55%;
                text-align: start;
            }

            .button-container {
                align-items: start;
            }

        }

        @include mixins.medium {
            
            .subtitle {
                width: 40%;
            }
        }
    }
    
}