@use '../abstracts/variables';
@use '../abstracts/mixins';

.cta {

    // padding: 40px 0;
    background-size: cover;

    &--center {
        @include mixins.center;
    }

    .subtitle,
    .button-container {
        padding:40px 0;
    }

}

.about {

    .cta {
        background-image: url(/images/background__powder.png);
        
        .subtitle {
            text-align: center;
        }
    }

}

.story {

    .cta {
        background-image: url(/images/background__skin.png);
    }
    
}

.acne {

    .cta {
        background-image: url(/images/background__acne.jpg);
    }
    
}