@use '../abstracts/variables';
@use '../abstracts/mixins';

.navbar-home {
    background-color: 0%;
    position: absolute;
}

.navbar {
    height: 48px;
    width: 100%;
    color: variables.$color__navbar;

    display: flex;
    align-items: center;

    &__logo {
        flex-basis: 50%;
    }

    &__menu {
        flex-basis: 50%;
        display: flex;
        justify-content: space-between;
    }

    a {
        color: variables.$color__navbar;

        &:hover {
            color: variables.$color--primary;
        }
    }
}