@use '../abstracts/variables';
@use '../abstracts/mixins';

.navbar-home {

    position: absolute;

    // .navbar__logo {
    //     flex-basis: 10%;
    // }

    .navbar__menu {
        flex-basis: 60%;
    }

}

.navbar-border {
    border-bottom: solid 1px variables.$color__navbar;
}

.navbar {
    height: 48px;
    width: 100%;
    color: variables.$color__navbar;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        flex-basis: 50%;
    }

    &__menu {
        flex-basis: 50%;
        display: flex;
        justify-content: space-between;
    }

    &__link {
        color: variables.$color__navbar;

        &:hover {
            color: variables.$color--primary;
        }

        &--light {
            color: variables.$color--primary-light;
        }
    }
}


// MOBILE



//TABLET

.navbar-home {

    @include mixins.tablet {

    }
}

//LAPTOP
.navbar-home {

    @include mixins.laptop {

    }
}


//DESKTOP


@include mixins.desktop {

    .navbar-home {

        font-size: 19px;

    }

}


//LARGE DESKTOP

@include mixins.large-desktop {

    // .navbar-home {

    // }
}
