@use '../abstracts/variables';
@use '../abstracts/mixins';

.navbar {
    
    position: absolute;
    height: 48px;
    width: 100%;
    color: variables.$color__navbar;

    display: flex;
    justify-content: space-between;
    // align-items: baseline;

    .link-box {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        width: 100%;
    }

    &__link,
    .icon {
        padding: 15px 25px 10px 0;
    }

    a {
        color: variables.$color__navbar;

        &:hover {
            color: variables.$color--primary;
        }

        &--light {
            color: variables.$color--primary-light;
        }
    }

    a.navbar__logo {
        color: variables.$color--primary;
    }

    &-border {
        border-bottom: solid 1px variables.$color__navbar;
    }

    .icon {
        font-size: 20px;
    }

    &__language-icon {
        height: 1rem;

        &:hover {
            background-color: variables.$color--light;
        }
    }



    // MOBILE
    .link-box {
        display: none;
    }

    &__logo {
        display: block;
    }

    a.icon {
        display: block;
        position: absolute;
        right: 5%;
    }

    // TABLET
    @include mixins.medium {

        &__logo {
            flex-basis: 40%;
        }

        .link-box {
            display: flex;
        }

        a.icon {
            display: none;
        }

        &__wrapper {
            display: flex;
            flex-direction: row;
            width: 100%;
        }

    }

    // LAPTOP
    @include mixins.large {
        padding: 0 100px;
    }

    // DESKTOP
    @include mixins.x-large {
        padding: 0 200px;
    }

    // LARGE DESKTOP
    @include mixins.xx-large {
        padding: 0 300px;
    }


    &.navbar-home {
    
        //MOBILE
        justify-content: end;

        .navbar__logo {
            display: none;
        }
    
        .navbar__link {
            display: none;
        }
    
        // TABLET
        @include mixins.medium {
            justify-content: space-between;
            padding-left: 80px;
            width: 85%;
    
            .navbar__link {
                display: block;
            }

            .navbar__logo {
                display: none;
            }
            
        }   
    
        // LAPTOP
        @include mixins.large {
            width: 75%;
        }
    
        // LARGE DESKTOP
        @include mixins.xx-large {
            width: 65%;
        }
        
    }
    

}

// RESPONSIVE ON CLICK

.navbar.responsive,
.navbar-home.responsive {
    position: absolute;
    justify-content: space-between;
    // align-items: baseline;
    height: 340px;
    background-color: variables.$color--light;
    // border: none;

    .navbar__wrapper {
        width: 100%;
        flex-direction: column;
    }

    .navbar__logo {
        display: block;
        align-self: start;
    }

    .link-box {
        display: block;
        align-items: end;

        
        .navbar__link {
            float: none;
            display: block;
            text-align: center;
        }

        .padding-top {
            padding-top: 30px;
        }
    }
}
