@use '../abstracts/variables';
@use '../abstracts/mixins';

.button {

    display: block;
    border-radius: 10px;
    text-align: center;
    color: variables.$color--light;

    &:hover {
        color: variables.$color--light;
    }
    
    &--large {
        width: 250px;
        padding: 18px 20px;
        font-size: 22px;
    }

    &--small {
        width: 200px;
        padding: 13px 18px;
        font-size: 20px;
    }

    &--card {
        padding: 10px 15px;
        color: white;
        font-size: 18px;
        background-color: variables.$color--primary-light;

        @include mixins.x-small {
             width: 100%;
        }

        @include mixins.medium {
            width: 150px;
        }
    }

    &--light {
        background-color: variables.$color--primary-light;
    }

    &--dark {
        background-color: variables.$color--primary-dark;
    }

}