@use '../abstracts/variables';
@use '../abstracts/mixins';

.button {

    display: block;
    border-radius: 10px;
    text-align: center;

    &:hover {
        color: variables.$color--light;
    }
    
    &--large {
        width: 250px;
        padding: 18px 20px;
        background-color: variables.$color--primary-dark;
        color: variables.$color--light;
        font-size: 22px;
    }

    &--small {
        width: 200px;
        padding: 13px 18px;
        background-color: variables.$color--secondary;
        color: variables.$color--light;
        font-size: 20px;
    }

    &--card {
        width: 150px;
        padding: 10px 15px;
        background-color: variables.$color--primary;
        color: variables.$color--light;
        font-size: 18px;
    }
}