@use '../abstracts/variables';
@use '../abstracts/mixins';

html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

* {
  margin: 0;
}

body {
  background-color: variables.$color--light;
}

body,
button,
a {
  font-family: variables.$font__text;
}

a,
a:hover {
  color: variables.$color__navbar;
  text-decoration: none;
}

a:hover {
  color: variables.$color--primary;
}

ul, li {
  list-style: none;
}

h1,
h2,
h3 {
  font-weight: lighter;
  font-family: variables.$font__title;
}

.title {
  font-size: 48px;
  color: variables.$color--primary;

  &--center {
    text-align: center;
  }
}

.subtitle {
  font-size: 34px;
  color: variables.$color--primary;
  padding-bottom: 20px;

  &--light {
    color: variables.$color--light;
  }

  &--center {
    text-align: center;
  }
}

.text {
  font-size: 20px;
  padding: 0 0 30px 0;
  
  &--dark {
  color: variables.$color--secondary-dark;
  }

  &--light {
    color: variables.$color--light;
  }
}

.text--first-paragraph,
.link {
  padding: 30px 0;
}

.navbar{
  padding: 0 120px;
}

section {
  padding: 80px 120px;
}