@mixin center {
    display: flex;
	flex-direction: column;
    align-items: center;
}

// MOBILE

@mixin x-small {
	@media screen and (min-width:300px) {
		@content;
	}
}

@mixin small {
	@media screen and (min-width:528px) {
		@content;
	}
}


//TABLET

@mixin medium {
	@media screen and (min-width: 768px) {
		@content;
	}
}


//LAPTOP

@mixin large {
	@media screen and (min-width: 992px) {
		@content;
	}
}


// DESKTOP

@mixin x-large {
	@media screen and (min-width: 1200px) {
		@content;
	}
}

@mixin xx-large {
	@media screen and (min-width: 1600px) {
		@content;
	}
}