$color--primary: #CA6374;
$color--primary-light: #D69596;
$color--primary-dark: #9D645F;
$color--secondary: #90ABC3;
$color--secondary-dark: #6B7689;
$color--secondary-title: #557D8E;

$color--light: #F2EAE8;
$color--shadow: #DBD9DA;

$color__navbar: #634B45;


$font__title: "Marcellus", serif;
$font__text: "Tenor Sans", sans-serif;