$color--primary: #BF6F71;
$color--primary-dark: #9D645F;
$color--secondary: #7F8DA3;
$color--secondary-shadow: #7F8DA350;
$color--secondary-dark: #6B7689;
$color--light: #EFEDEC;;

$color__navbar: #634B45;
$color__slogan: #727883;

$font__title: "Marcellus", serif;
$font__text: "Tenor Sans", sans-serif;